/* Error: Expected whitespace.
 *    ,
 * 31 | @media(min-width:375px)and(max-width:412px){
 *    |                           ^
 *    '
 *   scss\components\_medias.scss 31:27  @import
 *   scss\style.scss 13:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected whitespace.\a    \2577 \a 31 \2502  @media(min-width:375px)and(max-width:412px){\d\a    \2502                            ^\a    \2575 \a   scss\\components\\_medias.scss 31:27  @import\a   scss\\style.scss 13:9                root stylesheet";
}
