@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.logotipo {
  height: 30px;
}
.logotipo:hover {
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 2s;
}

.logo-footer {
  height: 30px;
  margin-left: -110px;
}

.b-example-divider {
  height: -3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}
.compu-animation:hover {
  transform: rotate(1turn);
  transition: 1s;
}

.parrafo-Somos {
  font-weight: bolder;
}

.parrafo-Portfolio {
  font-weight: bolder;
}

.parrafo-Contact {
  font-weight: bolder;
}

.parrafo-Empleados {
  font-weight: bolder;
}

footer p {
  font-weight: bolder;
}

.empleados {
  height: 80px;
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.inicio {
  height: 30px;
  margin-bottom: -12px;
}

.somos {
  font-size: 65px;
}

.somos .txt-somos {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: bolder;
}
.somos .parrafo1 {
  text-align: center;
  font-weight: bolder;
}
.somos .parrafo2 {
  text-align: center;
  font-weight: bolder;
}
.somos .parrafo3 {
  text-align: center;
  font-weight: bolder;
}
.somos .parrafo4 {
  text-align: center;
  font-weight: bolder;
}

.texto-Carrousel {
  font-weight: bolder;
}

.parrafo-Carrousel {
  font-weight: bolder;
}

.title-team {
  text-align: center;
  margin-top: 50px;
  font-weight: bolder;
}

.card-body .card-title {
  font-weight: bolder;
}

.grilla {
  display: grid;
  margin-left: 130px;
  margin-top: 100px;
  gap: 30px;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr;
}
.grilla .tarjeta1 .imagen-exe {
  height: 190px;
}

.titulo-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}
.titulo-servicios h1 {
  font-weight: bolder;
}

.parrafo-Servicios {
  font-weight: bolder;
}

.grilla2 {
  display: grid;
  place-items: center;
  margin-top: 100px;
  grid-template-columns: 2fr 2fr 2fr;
  margin-bottom: 100px;
}

.card .card-body .card-title {
  font-weight: bolder;
}
.card .card-body .card-text {
  font-weight: bolder;
}
.card .card-body p {
  font-weight: bolder;
}
.card .list-group li {
  font-weight: bolder;
}
.card img {
  border-bottom: 1px solid black;
}
.card .botones {
  display: grid;
  margin-top: 20px;
}
.card .botones .btn {
  font-weight: bolder;
}

.titulo-Basico {
  text-align: center;
  margin-top: 50px;
}

.grillaS {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  padding: 70px;
  margin-left: 150px;
  margin-top: 20px;
}
.grillaS .cardBasico {
  width: 190px;
  height: 288px;
  padding: 2%;
  background: rgb(255, 255, 255);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right, box-shadow;
}
.grillaS .cardBasico:hover {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
}
.grillaS .cardBasico .card__content {
  font-size: small;
  text-align: center;
}
.grillaS .cardBasico .card__content-heading {
  color: black;
}
.grillaS .cardBasico .card__content-heading h2 {
  font-weight: bolder;
}
.grillaS .cardBasico .card__content-body p {
  color: black;
  padding-bottom: 1rem;
  font-weight: bolder;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
.wrapper .typing-demo {
  width: 14.5ch;
  -webkit-animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-weight: bolder;
  font-size: 2em;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.grillaPort {
  display: grid;
  place-items: center;
  gap: 20px;
  grid-template-areas: "trabajo1 tarjetalarga" "trabajo2 tarjetalarga2";
}
.grillaPort .trabajo1 {
  grid-area: trabajo1;
  margin-left: 200px;
  font-size: 40px;
  font-weight: bolder;
}
.grillaPort .trabajo2 {
  grid-area: trabajo2;
  margin-left: 200px;
  font-size: 40px;
  font-weight: bolder;
}
.grillaPort .tarjetaLarga {
  margin: 50px;
  width: 30%;
  grid-area: tarjetalarga;
}
.grillaPort .tarjetaLarga2 {
  margin: 50px;
  width: 30%;
  grid-area: tarjetalarga2;
}

.textos h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
}

form {
  width: 450px;
  margin: auto;
  background: #1E1E24;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}
form h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: white;
  font-weight: bolder;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
form input {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
form textarea {
  min-height: 100px;
  max-height: 0px;
  max-width: 500px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
form #boton {
  background-color: #1E1E24;
  color: white;
  padding: 20px;
}
form #boton:hover {
  cursor: pointer;
}

.redes--tmñ1 {
  color: black;
}

.redes--tmñ2 {
  color: black;
}

.redes--tmñ3 {
  color: black;
}

.icono__html {
  font-size: 23px;
  margin: 10px;
  margin-left: 15px;
}

.icono__css {
  font-size: 23px;
  margin: 10px;
  margin-left: 15px;
}

.icono__js {
  font-size: 23px;
  margin: 10px;
  margin-left: 15px;
}

.icono__sass {
  font-size: 23px;
  margin: 10px;
  margin-left: 15px;
}

.alto1, .alto2, .alto3 {
  font-size: 20px;
  margin-left: 40px;
  margin-top: 10px;
}

.Porta1, .Porta2, .iconos, .textoComida1, .textoComida2 {
  text-align: center;
}

.redes {
  font-size: 20px;
  padding: 10px;
  color: black;
}

/** Media querie para la animación del index en la sección de "Quienes Somos"*/
@media (max-width: 480px) {
  .compu-animation:hover {
    transform: rotate(1turn);
    transition: 1s;
  }
}
@media (max-width: 280px) {
  .media-emp {
    margin-left: 50px;
  }
}
@media (min-width: 375px) and (max-width: 412px) {
  .title-team {
    text-align: center;
    margin-top: 100px;
  }
  .grilla {
    display: grid;
    margin-left: -20px;
    margin-top: 100px;
    gap: 30px;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
  }
}
@media (min-width: 412px) and (max-width: 420px) {
  .title-team {
    text-align: center;
    margin-top: 100px;
  }
  .grilla {
    display: grid;
    margin-left: -10px;
    margin-top: 100px;
    gap: 30px;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
  }
}
@media (min-width: 420px) and (max-width: 440px) {
  .title-team {
    text-align: center;
    margin-top: 100px;
    margin-left: -20px;
  }
  .grilla {
    display: grid;
    margin-left: -5px;
    margin-top: 100px;
    gap: 30px;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
  }
}
@media (min-width: 440px) and (max-width: 480px) {
  .title-team {
    text-align: center;
    margin-top: 100px;
    margin-left: -20px;
  }
  .grilla {
    display: grid;
    margin-left: 5px;
    margin-top: 100px;
    gap: 30px;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
  }
}
@media (min-width: 480px) and (max-width: 530px) {
  .title-team {
    text-align: center;
    margin-top: 100px;
    margin-left: -10px;
  }
  .grilla {
    display: grid;
    margin-left: 20px;
    margin-top: 100px;
    gap: 30px;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
  }
}
@media (min-width: 530px) and (max-width: 590px) {
  .title-team {
    text-align: center;
    margin-top: 100px;
    margin-left: -10px;
  }
  .grilla {
    display: grid;
    margin-left: 50px;
    margin-top: 100px;
    gap: 30px;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
  }
}
@media (min-width: 590px) and (max-width: 640px) {
  .title-team {
    text-align: center;
    margin-top: 100px;
    margin-left: -30px;
  }
  .grilla {
    display: grid;
    margin-left: 70px;
    margin-top: 100px;
    gap: 30px;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
  }
}
@media (min-width: 640px) and (max-width: 700px) {
  .title-team {
    text-align: center;
    margin-top: 100px;
    margin-left: 10px;
  }
  .grilla {
    display: grid;
    margin-left: 105px;
    margin-top: 100px;
    gap: 30px;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
  }
}
@media (min-width: 700px) and (max-width: 850px) {
  .title-team {
    text-align: center;
    margin-top: 100px;
    margin-left: -20px;
  }
  .grilla {
    display: grid;
    margin-left: 125px;
    margin-top: 100px;
    gap: 30px;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
  }
}
@media (min-width: 850px) and (max-width: 900px) {
  .grilla {
    display: grid;
    margin-left: 40px;
    margin-top: 200px;
    gap: 30px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  .grilla {
    display: grid;
    margin-left: 70px;
    margin-top: 200px;
    gap: 30px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
  }
}
@media (min-width: 1000px) and (max-width: 1135px) {
  .grilla {
    display: grid;
    margin-left: 100px;
    margin-top: 200px;
    gap: 30px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
  }
}
@media (min-width: 375px) and (max-width: 414px) {
  .titulo-servicios {
    margin-left: 100px;
  }
  .grilla2 {
    display: grid;
    place-items: center;
    margin-top: 100px;
    grid-template-columns: 2fr;
    margin-bottom: 100px;
    gap: 60px;
  }
}
@media (min-width: 414px) and (max-width: 470px) {
  .titulo-servicios {
    margin-left: 120px;
  }
  .grilla2 {
    display: grid;
    place-items: center;
    margin-top: 100px;
    grid-template-columns: 2fr;
    margin-bottom: 100px;
    gap: 60px;
  }
}
@media (min-width: 480px) and (max-width: 560px) {
  .grilla2 {
    display: grid;
    place-items: center;
    margin-top: 100px;
    grid-template-columns: 2fr;
    margin-bottom: 100px;
    gap: 60px;
  }
}
@media (min-width: 560px) and (max-width: 850px) {
  .grilla2 {
    display: grid;
    place-items: center;
    margin-top: 100px;
    grid-template-columns: 2fr;
    margin-bottom: 100px;
    gap: 60px;
  }
}
@media (min-width: 560px) and (max-width: 900px) {
  .grilla2 {
    display: grid;
    place-items: center;
    margin-top: 100px;
    grid-template-columns: 2fr;
    margin-bottom: 100px;
    gap: 60px;
  }
}
@media (min-width: 560px) and (max-width: 1000px) {
  .grilla2 {
    display: grid;
    place-items: center;
    margin-top: 100px;
    grid-template-columns: 2fr;
    margin-bottom: 100px;
    gap: 60px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .grilla2 {
    display: grid;
    place-items: center;
    margin-top: 100px;
    grid-template-columns: 2fr 2fr 2fr;
    margin-bottom: 100px;
    gap: 60px;
  }
}
@media (min-width: 375px) and (max-width: 1000px) {
  .grillaPort {
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template-areas: "trabajo1" "tarjetalarga" "trabajo2" "tarjetalarga2";
  }
  .grillaPort .trabajo1 {
    grid-area: trabajo1;
    margin-left: 20px;
    font-size: 40px;
  }
  .grillaPort .trabajo2 {
    grid-area: trabajo2;
    margin-left: 20px;
    font-size: 40px;
  }
  .grillaPort .tarjetaLarga {
    margin: 50px;
    width: 30%;
    grid-area: tarjetalarga;
  }
  .grillaPort .tarjetaLarga2 {
    margin: 50px;
    width: 30%;
    grid-area: tarjetalarga2;
  }
}
@media (max-width: 480px) {
  form {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */