//Declaramos el mapa

$redes-clor:(

    tmñ1: black,
    tmñ2: black,
    tmñ3: black,

);


@each $variable,$color in $redes-clor{

   .redes--#{$variable}{

        color: $color;

   }

}

//Iconos portfolio

$tecnologias:(

    html: 23px,
    css: 23px,
    js: 23px,
    sass: 23px,

);


@each $variableTec, $iconTm in $tecnologias{

    .icono__#{$variableTec}{

        font-size: $iconTm;
        margin: 10px;
        margin-left: 15px;

    }

}
    


