.textos{

    h2{

        margin-top: 20px;
        text-align: center;
        font-size: 35px;

    }

}


form{

    width: 450px;
    margin: auto;
    background: #1E1E24;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 50px;

    h2{

        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: white;
        font-weight: bolder;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
    
    
    }
    input{

        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
    
    }
    input, textarea{

        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    
    }
    textarea{

        min-height: 100px;
        max-height: 0px;
        max-width: 500px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
    
    }
    #boton{

        background-color: #1E1E24;
        color: #ffff;
        padding: 20px;

        &:hover{

            cursor: pointer;
            
        
        }
    
    
    }


}