.compu-animation {

  &:hover {

    transform: rotate(1turn);
    transition: 1s;

  }

}

.empleados {

  height: 80px;
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 20px;

}



.inicio {

  height: 30px;
  margin-bottom: -12px;

}