.compu-animation {

  &:hover {

    transform: rotate(1turn);
    transition: 1s;

  }

}

.parrafo-Somos{

  font-weight: bolder;

}


.parrafo-Portfolio{

  font-weight: bolder;

}

.parrafo-Contact{

  font-weight: bolder;

}

.parrafo-Empleados{

  font-weight: bolder;

}

footer{

  p{

    font-weight: bolder;

  }

}

.empleados {

  height: 80px;
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 20px;

}



.inicio {

  height: 30px;
  margin-bottom: -12px;

}

.somos{

  font-size: 65px;

}


