.somos{

    .txt-somos{

        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;

    }
    .parrafo1{

        text-align: center;

    }
    .parrafo2{

        text-align: center;

    }
    .parrafo3{

        text-align: center;

    }
    .parrafo4{

        text-align: center;

    }

}